<div class="container ">
    <div class="row bg-white">
        <div class="col-md-offset-2 col-md-10">
            <div class=" bg-white">
                <h2><img src="./assets/images/glogo3.png" alt="Glogger Logo"> Suites</h2>
            </div>
        </div>
    </div>
    <br>
    <div *ngFor="let i of [0,1,2,3,4]">
        <div class="row bg-white">
            <div class="col-md-offset-2 col-md-10">
                <div class=" bg-white">
                    <h2>Suite {{i}}</h2>
                </div>
            </div>
        </div>
        <br>
    </div>

</div>
<br>