<div class="container ">
    <div class="row bg-white">
        <div class="col-md-12">
            <div class="bg-white text-center">
                <h4>Search: <input id="searchBar" type="text" placeholder="Filter" [(ngModel)]="listFilter" [ngModelOptions]="{standalone: true}"></h4>
            </div>
        </div>
    </div>
    <br>
    <div *ngFor="let i of array | FilterPipe: listFilter">
        <div class="row bg-white row-max-h">
            <div class="col-md-offset-2 col-md-10">
                <a (click)="navigateWithParam('suite',i)">
                   <h4>{{i}}</h4>
                </a>
            </div>
        </div>
        <br>
    </div>
</div>