    <div class="row bg-white">
        <div class="col-md-12">
            <div class="col-md-6">
                    <h2>History</h2>
                    <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                    [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="col-md-6">
                    <h2>Status</h2>
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [colors]="pieChartColors" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="col-md-12 text-center" style="margin-top: 20px;margin-bottom:20px;height: 50%">
                <button (click)="randomizeType()" class="btn btn-danger btn-lg" style="display: inline-block">More Charts</button>
            </div>
        </div>
    </div>