<div id="wrapper" class="login-register content">
    <div class="white-box">
        <form id="loginForm" class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" autocomplete>
            <img id="glogo" src="./assets/images/glogo3.png" alt="Glogger Logo">
            <hr>
            <div class="form-group">
                <label for="email">Email:</label>
                <input formControlName="email" id="email" type="email" class="form-control" maxlength="50" placeholder="Email..." required/>
                <em *ngIf="formErrors.email" class="error">{{formErrors.email}}</em>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input formControlName="password" id="password" type="password" class="form-control error" placeholder="Password..."
                    required/>
                <em class="error" *ngIf="formErrors.password">{{formErrors.password}}</em>
            </div>

            <div class="form-group">
                <hr>
                <button [disabled]="loginForm.invalid" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light"
                    type="submit">Login</button>
            </div>
        </form>
    </div>
</div>