<nav id="header" class="navbar navbar-default">
    <img class="logo-header" src="./assets/images/glogo3.png" alt="Glogger Logo">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <h4 class="pull-right" style="margin-right:2%; margin-top:1.5%;">Facundo Malgieri</h4>
    </a>
    <ul class="dropdown-menu text-center pull-right" style="margin-right:1%;">
        <li><a href="javascript:void(0)" (click)="navigate('logout');"><i class="glyphicon glyphicon-log-out"></i> Salir</a></li>
    </ul>
</nav>