.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.bg-white {
    background-color: #FFFFFF;
}

#glogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background: #6e979c;
    
}

